.favourites-page-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.favourites-page-wrapper {
    width: 50rem;
}

.league-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.league-header {
    display: flex;
    align-items: center;
    padding: .5rem;

    span.league-logo {
        background: black;
        width: 2rem;
        height: 2rem;
        border-radius: .2rem;
        color: white;
        display: grid;
        place-content: center;
        margin-right: 3rem;
    }

    .league-info {
        flex: 3;

        .league-title {
            font-size: 1.5rem;
        }

        .league-group {
            font-size: .8rem;
        }
    }

    .right-arrow {
        width: 2rem;
        height: 2rem;
        border-radius: 99px;
        background: black;
        color: white;
        display: grid;
        place-content: center;
        font-size: 1.1rem;
    }
    .right-arrow:hover {
        cursor: pointer;
        background: rgb(59, 59, 59);
    }
}

.favourited-matches {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}