.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    border: 1px solid black;

    .links {
        display: flex;
        gap: 1rem;
    }
}